*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Formato para todo el header */

header .encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #003366;
    color: white;
}

.logo img {
    max-width: 150px;
}

.menu .navegador{
    list-style: none;
    display: flex;
}

.menu .navegador li{
    margin: 0 15px;
}

.menu .navegador li .categoria{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

.menu .navegador li .categoria:hover{
    color: #ff3333;
}

.barrabusqueda {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.barrabusqueda input[type="text"] {
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.boton {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Formato para footer */

footer .contenedorfooter {
    padding: 20px;
    background-color: #003366;
    color: white;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Formato global para main y cajas en index, detail_movie, detail_serie */

main .contenedormain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-image: url(https://media3.giphy.com/media/TxVVB6PfWMjE4/giphy.gif?cid=ecf05e47gima5p0o8vpw0k1i1p6edce0pdyqu4infe6ss3w9&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.peli, .serie{
    flex: 1;
    min-width: 200px;
    background-color: #003366;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: #003366 solid 1px;
}

a{
    text-decoration: none;
}

.box h2{
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;    
}

.peli, .serie {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: white;
}

.peli p, .serie p {
    text-align: center;
    margin-top: 10px;
}

.pelimg, .serieimg {
    max-width: 100%;
    max-height: 250px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.titulo{
    font-size: 24px;  
    color: #ffffff; 
    padding: 10px 20px;  
    background: linear-gradient(to bottom, #003366, #0066cc);  
    border-radius: 20px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    width: 100%;  
    justify-content: center;
    text-align: center;  
    margin: 10px 0; 
}
