
*.encabezado{
    display: flex;
    background-color: rgb(115, 57, 57);
    padding: 20px;
    align-items: left;
    margin-bottom: 3vw;
    justify-content: space-between;
}
.detail-genres1{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 40px;
}
img{
    max-width: 300px;
}

