*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header .encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #003366;
    color: white;
}

.logo img {
    max-width: 150px;
}

.menu ul{
    display: flex;
    gap: 10px;
}
.menu .navegador{
    list-style: none;
    display: flex;

}
.menu .navegador li{
    margin: 0 15px;
}

.menu .navegador li .categoria{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s;
}

.botbuscar{
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 2px;
}
.contenedormain{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
    display: flex;
    color: white;
    background-color: gray;
    border-radius: 5px;
}
img{
    max-width: 200px;
}
.logo{
    max-width: 20vw;
}